/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Sidebar Styles */
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 800;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #f9f9f9;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    background-color: #6453f3;
    display: flex;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
}

#sidebar.collapsed {
    margin-left: -264px;
}

.toggler-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.toggler-btn i {
    font-size: 1.75rem;
    color: #6453f3;
    font-weight: 1000;
}

.navbar {
    padding: 1.15rem 1.5rem;
    border-bottom: 2px dashed #b3a8a8;
}

.sidebar-nav {
    flex: 1 1 auto;
}

.sidebar-logo {
    display: flex;
    padding: 1.15rem 1.5rem 0.3rem;
    justify-content: center;
    align-items: center;
}

.sidebar-logo a {
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    color: white;
    font-size: .75rem;
}

.sidebar-header hr {
    width: 80%;
    margin: .5rem 0;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: white;
    position: relative;
    transition: all 0.35s;
    display: block;
    font-size: 1rem;
}

a.sidebar-link:hover {
    background-color: #f9f6f630;
}

.progress-net .sidebar-link {
    color: white;
    width: 85%;
    margin: auto;
}


.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.user-profile {
    display: flex;
    flex-direction: row;
    background-color: #769ff6;
    border-radius: 20px;
    width: 85%;
    font-weight: 600;
    box-shadow: 7px 7px black;
    border: black 1px solid;
    margin-bottom: 20px;
}

.user-profile:hover {
    background-color: #769ff6;
    box-shadow: none;
    transform: translateY(+7px) translateX(+7px);
    transition: all 0.35s;
}

.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 500px;
    margin-right: 10px;
}

.user {
    display: flex;
    margin-left: 25px;
    padding-top: 15px;
}

.main {
    background-color: #f7fefa;
}